<div class="header">
  <div class="header-title">
    <p>NJP MAHANANDA RUNNING ROOM</p>
  </div>
  <nav>
    <ul>
      <li class="nav-item">
        <a routerLink="/room-entry" routerLinkActive="activebutton"
          >Room booking</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/meal-entry" routerLinkActive="activebutton"
          >Book Meal</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/search-guest" routerLinkActive="activebutton"
          >Search Guest</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/shift-room" routerLinkActive="activebutton"
          >Room Shifting</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/report" routerLinkActive="activebutton"
          >Generate Report</a
        >
      </li>
    </ul>
  </nav>
</div>
