<div class="header">
  <div class="header-title">
    <p>NJP MAHANANDA RUNNING ROOM</p>
  </div>
  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#">Book Room</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Book Meal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Guest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Room Shifting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generate Report</a>
      </li>
    </ul>
  </nav>
</div>
