.header-title {
  display: flex;
  flex: content;
  justify-content: center;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  align-items: center;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3f51b5;
  height: 10%;
  color: #fff;
}

nav ul {
  float: left;
  list-style-type: none;
  font-size: medium;
}

ul li {
  display: inline-block;
  padding: 10px;
}

ul a {
  color: #fff;
  text-decoration: none;
}
