<div class="header">NJP MAHANANDA RUNNING ROOM</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="colorForDrawer">
       <div class="pensionDetails">
          <button mat-raised-button color="accent">Book Room</button>
          <button mat-raised-button color="accent" >Book Meal</button>
          <button mat-raised-button color="accent" >Search Guest</button> 
          <button mat-raised-button color="accent" >Room Shifting</button> 
          <button mat-raised-button color="accent" >Report</button> 
      </div> 
  </mat-drawer>
  <mat-drawer-content>
    <app-room-entry></app-room-entry>
  </mat-drawer-content>
</mat-drawer-container>